name: CD WORKFLOW

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: install
        run: pnpm install

      - name: build
        run: pnpm run build

      - name: Deploy to GitHub Pages
        run: pnpm run deploy

      